<md-dialog class="login-dialog" aria-label="{{" views.login.title" | translate}}"  ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools dialog-header">
            <h2>{{"views.login.title" | translate}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="assets/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" style="overflow: hidden">
            <div layout="column" layout-align="center center">
                <div class="row fb-button" ng-click="fbLogin()">
                </div>
                <div class="separator">{{"views.login.or" | translate}}</div>
                <form  name="regularLoginForm" class="regular-login-form">
                    <md-input-container class="form-input-container">
                        <label>{{"views.login.email" | translate}}</label>
                        <input name="email" required type="email" ng-model="vm.user.email">

                        <div ng-messages="regularLoginForm.email.$error" role="alert" multiple>

                            <div ng-message="required" class="my-message">You must supply an email.</div>
                            <div ng-message="email" class="my-message">Email is not valid.</div>

                        </div>
                    </md-input-container>
                    <md-input-container class="form-input-container">
                        <label>{{"views.login.password" | translate}}</label>
                        <input name="password" required type="password" ng-model="vm.user.password">

                        <div ng-messages="regularLoginForm.password.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">You must supply a valid password.</div>
                        </div>
                    </md-input-container>

                    <button  class="btn-primary" ng-disabled="!regularLoginForm.$valid" ng-click="login()">
                        {{"views.login.connect" | translate}}
                    </button>

                    <div class="note">
                        * {{"views.login.first_time_login" | translate}}
                    </div>
                </form>
            </div>

        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">

        <!--        <span flex></span>
                <md-button ng-click="answer('not useful')">
                    Not Useful
                </md-button>
                <md-button ng-click="answer('useful')" style="margin-right:20px;">
                    Useful
                </md-button>-->
    </md-dialog-actions>
</md-dialog>