.header {
  background-image: url("../img/header-bg-wide.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 270px;
  width: 100%;
  .logo {
    background-image: url("../img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;

    top: 20px;
    left: 30px;
    height: 100px;
    width: 270px;
  }

  .header-title{
    color: #ffffff;
    font-size: 40px;
  }

  .header-subtitle{
    color: #ffffff;
    font-size: 28px;
    width: 470px;
    text-align: center;
  }

  .header-btn {
    margin-top: 15px;
    padding: 3px 12px;
    background-color: #54585B;
    background-color: rgba(84, 88, 91, 0.6);
    color: #B5B8BF;
    font-size: 18px;
  }

  .nav-bar {
    /*
    margin-top: 45px;
    */
    margin-right: 40px;
    min-width: 600px;
    color: #ffffff;
    font-size: 13px;

    .route-link {
      padding-top: 45px;
      padding-bottom: 10px;
      min-width: 60px;
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;

      &.ask-help.active {
        background-color: #AD8566;
      }

      &.active {
        background-color: rgba(88, 145, 161, 0.71);
      }
    }
    a {
      color: #ffffff;
      text-decoration: none;
    }
    a:visited {
      color: #ffffff;
    }
    a:hover {
      color: #F4EEEE;
    }
  }
}
