@import "responsive";

.header {
	background-image: url("/assets/img/header-bg-wide.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 270px;
	width: 100%;

	.logo {
		background-image: url("/assets/img/logo.png");
		background-size: contain;
		background-repeat: no-repeat;
	}

	.header-title {
		color: #ffffff;
		font-size: 40px;
		margin-top: 20px;
	}

	.header-subtitle {
		margin-top: 5px;
		color: #ffffff;
		font-size: 24px;
		width: 470px;
		text-align: center;
	}

	.how-it-works-btn {
		margin-top: 10px;
		padding: 5px 20px;
		background-color: initial;
		border: 1px solid white;
		font-size: 14px;
	}
}

.nav-bar {
	margin-right: 40px;
	min-width: 600px;
	color: #ffffff;
	font-size: 13px;

	.logo {
		position: absolute;
		top: 20px;
		left: 30px;
		height: 100px;
		width: 270px;
	}

	.nav-bar-section {
		position: relative;
		min-width: 90px;
		margin-left: 30px;
		text-align: center;
		cursor: pointer;
		
		&.ask-help {
			
			.nav-bar-main-link {
				margin-top: 39px;
				padding: 5px 20px;
				border: 1px solid #ffffff;
				
				&.active {
					background-color: initial;
				}
			}		
			
		}
	}

	.nav-bar-main-link {
		color: #ffffff;
		padding: 45px 5px 10px 5px;
		position: relative;
		min-width: 60px;

		&:hover { color: #F4EEEE; }
		//&.menu-open { color: gray; }

		&.active {
			background-color: rgba(88, 145, 161, 0.71);
			
			&:hover { color: #ffffff; }
			&.menu-open {color: #ffffff; }
			
			.sub-menu-item:first-child {
				border: 0;
			}
		}
	}
	
	.sub-menu {
		position: absolute;
		width: 100%;
	}
	
	.sub-menu-item {
		padding: 10px 0px;
		border-bottom: 1px solid #ffffff;
		
		&:hover { color: #F4EEEE; }
	}
}

.small-nav-bar {
	height: 40px;
	background-color: #ffffff;
	padding: 0px 10px;
	margin-bottom: 33px;

	.logo {
		background-position: center center;
		width: 110px;
		height: 100%;
	}

	.hamburger-icon {
		background-image: url("/assets/img/icons/hamburger-icon.png");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		width: 22px;
		height: 22px;
		cursor: pointer;
	}
}

.side-nav-menu {
	background-color: #ffffff;
	position: absolute;
	top: 40px;
	right: 0;
	bottom: 0;
	width: 60%;
	z-index: 10;

	.route-link {
		&.ask-help {
			margin-top: 0px;
			a {
				background-color: rgba(200, 206, 210, 0.6);
			}
		}
	}
}

.side-nav-option {
	border-bottom: 1px solid #D9D9D9;
	width: 100%;
	font-size: 16px;

	a {
		display: block;
		padding: 10px 10px;
	}
	
	&.active { 
		background-color: rgba(88, 145, 161, 0.71); 
		color: #ffffff;
	}
}

.how-it-works-section{
	padding-top: 30px;
	max-width: 1000px;
	margin: auto;

	img{
		width: 230px;
	}

	&.ng-enter, &.ng-leave {
		-webkit-transition: 0.5s linear all;
		-moz-transition: 0.5s linear all;
		-ms-transition: 0.5s linear all;
		-o-transition: 0.5s linear all;
		transition: 0.5s linear all;
	}

	&.ng-leave.ng-leave-active,
	&.ng-enter {
		max-height: 0;
		opacity: 0;
	}

	&.ng-enter.ng-enter-active,
	&.ng-leave {
		max-height: 600px;
		opacity: 1;
	}

	&.ng-leave, &.ng-enter {
		transition: all 350ms linear;
	}
}

.how-it-works-link{
	text-align: center;
	margin-bottom: 15px;

	.orange-bubble {
		max-resolution: res;n: 10px auto;
	}

	.subtitle {
		margin: auto;
		width: 230px;
	}
}

@include media-max($layout-breakpoint-sm) {
  .header {
    .header-title {
      font-size: 28px;
    }

    .header-subtitle {
      font-size: 16px;
      width: 270px;
    }
  }
}

@include media($layout-breakpoint-sm, $layout-breakpoint-md) {
  .nav-bar{
    .route-link {
      margin-left: 22px;
    }

    .logo {
      top: 33px;
      width: 165px;
    }
  }
}
