.header {
  background-image: url("/assets/img/header-bg-wide.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 270px;
  width: 100%;

  .logo {
    background-image: url("/assets/img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .header-title{
    color: #ffffff;
    font-size: 40px;
  }

  .header-subtitle{
    color: #ffffff;
    font-size: 28px;
    width: 470px;
    text-align: center;
  }

  .header-btn {
    margin-top: 15px;
    padding: 3px 12px;
    background-color: #54585B;
    background-color: rgba(84, 88, 91, 0.6);
    color: #B5B8BF;
    font-size: 18px;
  }
}

.nav-bar {
  margin-right: 40px;
  min-width: 600px;
  color: #ffffff;
  font-size: 13px;

  .logo {
    position: absolute;

    top: 20px;
    left: 30px;
    height: 100px;
    width: 270px;
  }

  .route-link {
    padding-top: 45px;
    padding-bottom: 10px;
    min-width: 60px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }

  a {
    color: #ffffff;

    &:visited {
      color: #ffffff;
    }

    &:hover {
      color: #F4EEEE;
    }
  }
}

.route-link {
  &.ask-help.active {
    background-color: #F48220;
  }

  &.active {
    background-color: rgba(88, 145, 161, 0.71);
    color: #ffffff;
  }
}

.small-nav-bar {
  height: 40px;
  background-color: #ffffff;
  padding: 0px 10px;
  margin-bottom: 33px;

  .logo {
    background-position: center center;
    width: 110px;
    height: 100%;
  }

  .hamburger-icon {
    background-image: url("/assets/img/icons/hamburger-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 22px;
    height: 22px;
    cursor: pointer;
  }
}

.side-nav-menu {
  background-color: #ffffff;
  position: absolute;
  top: 40px;
  right: 0;
  width: 60%;
  height: 100%;
  z-index: 1;
}

.side-nav-option {
  border-bottom: 1px solid #D9D9D9;
  width: 100%;
  font-size: 16px;

  a {
    display: block;
    padding: 10px 10px;
  }
}

.how-it-works-section{
  padding-top: 30px;
  max-width: 1000px;
  margin: auto;

  img{
    width: 230px;
  }

  &.ng-enter, &.ng-leave {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -ms-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
  }

  &.ng-leave.ng-leave-active,
  &.ng-enter {
		max-height: 0;
    opacity: 0;
	}

	&.ng-enter.ng-enter-active,
	&.ng-leave {
		max-height: 600px;
    opacity: 1;
	}

	&.ng-leave, &.ng-enter {
		transition: all 350ms linear;
	}
}

.how-it-works-link{
  text-align: center;

  .orange-bubble {
    margin: 10px auto;
  }

  .subtitle {
    margin: auto;
    width: 230px;
  }
}
