.fb-share-icon {
  background-image: url('/assets/img/icons/fb-share-icon.png');
  width: 30px;
  height: 32px;
}

.email-share-icon {
  background-image: url('/assets/img/icons/email-share-icon.png');
  width: 30px;
  height: 32px;
}