/* app css stylesheet */
@font-face {
  font-family: 'Yed';
  src: url("../fonts/Yed SemiComebackReg.otf");
  /* IE9 Compat Modes */
  src: url("../fonts/Yed SemiComebackReg.otf?#iefix") format("truetype"), url("../fonts/Yed SemiComebackReg.ttf") format("truetype"); }
body {
  min-width: 320px;
  font-family: 'Yed', 'arial';
  font-weight: normal;
  color: #666666;
  font-size: 12px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: normal; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

button.btn-primary {
  background-color: #22A5B9;
  min-width: 130px;
  color: #ffffff;
  font-family: "Yed";
  font-size: 17px;
  font-weight: lighter;
  height: 30px;
  padding: 0px 0px;
  border: 0px;
  border-radius: 2px; }

.view-container {
  min-height: 500px;
  min-height: 500px;
  max-width: 1000px;
  margin: auto; }

.main-panel {
  background-color: #E6E6E6;
  margin-top: 13px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px; }
  .main-panel .panel-section:last-child {
    border-bottom: 2px solid white; }

.panel-section {
  border-top: 2px solid white;
  min-height: 70px; }

.panel-section-inner {
  padding: 8px; }

.content-box-img {
  height: 350px;
  margin: 3px; }
  .content-box-img img {
    height: 100%;
    width: 100%;
    background-size: cover; }

.content-box-text {
  margin: 3px;
  border: 2px solid #ffffff;
  height: 350px; }

.header {
  background-image: url("../img/header-bg-wide.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 270px;
  width: 100%; }
  .header .logo {
    background-image: url("../img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    left: 30px;
    height: 100px;
    width: 270px; }

footer {
  background-color: #565656;
  height: 250px; }

.case-detail-view .case-header-panel {
  margin-bottom: 30px;
  position: relative; }
.case-detail-view .centered-bubble {
  /* PLEASE NOTE - container must be position:relative */
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 50px;
  opacity: 0.8; }
.case-detail-view .tasks-list-title {
  margin-bottom: 15px; }
.case-detail-view .task-item {
  font-size: 14px;
  margin-bottom: 30px; }
  .case-detail-view .task-item h5 {
    font-size: 17px; }
  .case-detail-view .task-item .task-title-row {
    margin-bottom: 7px; }
  .case-detail-view .task-item .task-title {
    padding-left: 60px; }
  .case-detail-view .task-item .text-emphasized {
    color: #F58220; }
  .case-detail-view .task-item .task-detail:last-of-type {
    margin-bottom: 15px; }

.login-dialog {
  width: 320px;
  height: 400px; }
  .login-dialog .dialog-header {
    color: #ffffff; }

/*# sourceMappingURL=app.css.map */
