.vol-img {
  width: 100%;
  height: auto;
}

// hide the mdDatePicker small arrow button. It overlaps with the date text when in RTL.
.md-datepicker-expand-triangle {
  display: none;
}

.form-pick-div {
  cursor: pointer;
}

.ask-help {
  font-size: 15px;
}