<div class="case-detail-view">
    <div class="main-panel" layout="column">
        <!-- /// IMAGE AND TITLE ROW //// -->
        <div layout="row" layout-xs="column" class="case-header-panel" layout-align="space-between">
            <div class="content-box-img" flex="50" flex-xs="100">
                <img src="{{vm.case.imgUrl}}">
            </div>
            <div class="content-box-text" flex="50" flex-xs="100" layout="column" layout-align="center center">
                <h4>
                    {{vm.case.title}}
                </h4>
            </div>
            <img class="centered-bubble" src="assets/img/orange-bubble.png">

        </div>
        <!-- /// DESCRIPTION ROW //// -->
        <div layout="row" class="panel-section" layout-align="start center">
            <div layout="column" class="panel-section-inner">
            <span>
                {{vm.case.description}}
            </span>
            </div>
        </div>
        <!-- /// TASKS LIST //// -->
        <div layout="row" class="panel-section" layout-align="start center">
            <div layout="column" flex="50" flex-xs="100" class="panel-section-inner">
                <h2 class="tasks-list-title">
                    {{"views.caseDetail.tasks_list_title" | translate}}
                </h2>
                <div class="task-item" ng-repeat="task in vm.case.tasks">
                    <div layout="row" class="task-title-row">
                        <h5 class="task-title">{{task.title}}</h5>
                    </div>
                    <div class="task-detail">
                       <span class="text-emphasized">{{"views.caseDetail.tasks_list_item.when" | translate}}</span>  {{task.date}}
                    </div>
                    <div class="task-detail">
                        <span class="text-emphasized"> {{"views.caseDetail.tasks_list_item.where" | translate}} </span>
                         {{task.location}}
                    </div>
                    <button class="btn-primary" ng-click="applyForTask(task)">{{"views.caseDetail.tasks_list_item.apply" | translate}} </button>

                </div>

            </div>
        </div>
    </div>

</div>
