<h1>Create Task</h1>
<form method="POST" action="/api/getInvolved/tasks">
  <input type="text" placeholder="name" name="name"></br></br>
  <input type="text" placeholder="city" name="city"></br></br>
  <input type="submit" value="submit">
</form>
