<div style="text-align:center;margin-top:20px;">
  <div class="section-seperator">
    <span class="seperator-text">
      מוזמנים לדבר איתנו:
    </span>
  </div>
  <div layout="row" layout-wrap layout-align="start center" class="cases-container clearfix" style="margin-top:40px;font-size:15px;padding: 15px;text-aliment:center;">
     <form style="margin: 0 auto;">
      <input style="display: block;margin-bottom: 15px;height: 27px;width: 300px;line-height: 27px;padding-right: 10px;font-family: 'Yed', 'arial';" placeholder="שם מלא">
      <input type="email" style="display: block;margin-bottom: 15px;height: 27px;width: 300px;line-height: 27px;padding-right: 10px;font-family: 'Yed', 'arial';" placeholder="e-mail">
      <input style="display: block;margin-bottom: 15px;height: 27px;width: 300px;line-height: 27px;padding-right: 10px;font-family: 'Yed', 'arial';" placeholder="נושא">
      <textarea style="display: block;margin-bottom: 15px;height: 100px;width: 300px;padding-right: 10px;font-family: 'Yed', 'arial';" placeholder="תוכן ההודעה"></textarea>
      <input value="שלח" type="submit" style="background-color: rgba(88, 145, 161, 1);color: white;border: none;height: 35px;width: 96px;font-family: 'Yed', 'arial';border-radius: 7px;outline:none;">
   </form>
  </div>
</div>
