<h1>Create Case</h1>
<form method="POST" action="/case">
  <input type="text" placeholder="name" name="name"></br></br>
  <input type="text" placeholder="city" name="city"></br></br>
  <input type="submit" value="submit">
</form>
