<div class="header" layout="column">
  <div layout="row">
    <div class="logo"></div>
    <div hide-xs class="nav-bar" layout="row">
      <div  flex-offset="5" ng-repeat="route in ctrl.headerLinks" >
        <div class="route-link" ng-class="ctrl.navClass(route)" >
          <a href="#{{route.link}}"> {{route.textKey | translate}}</a>
        </div>
      </div>
    </div>
  </div>
  <div flex layout="row" flex layout-align="center start">
    <div flex layout="column" layout-align="start center">
      <div class="header-title" hide show-gt-xs> {{ctrl.title}} </div>
      <div class="header-subtitle" hide show-gt-xs> {{ctrl.subTitle}} </div>
      <button class="header-btn" ng-click='ctrl.OnHeaderButtonClick()' ng-show='ctrl.shouldShowButton'> איך זה עובד </button>
    </div>
  </div>
</div>
<div class="how-it-works-section" layout="row" layout-wrap ng-if="ctrl.showHowItWorksSection" class="how-it-works-section">
  <div class="how-it-works-link"flex-gt-sm="33" flex-sm="50" flex-xs="100">
    <a href="someLink">
      <img src="\assets\img\how-it-works\varietyOfCases.png">
      <div class="orange-bubble small"></diV>
      <h5 class="title">
        מגוון מקרים
      </h5>
      <h6 class="subtitle">
        בקשות עזרה מכל הארץ ובכל תחום מחכות להתערבות שלך
      </h6>
    </a>
  </div>
  <div class="how-it-works-link" flex-gt-sm="33" flex-sm="50" flex-xs="100">
    <a href="someLink">
      <img src="\assets\img\how-it-works\varietyOfCases.png">
      <div class="orange-bubble small"></diV>
      <h5 class="title">
        מגוון מקרים
      </h5>
      <h6 class="subtitle">
        בקשות עזרה מכל הארץ ובכל תחום מחכות להתערבות שלך
      </h6>
    </a>
  </div>
  <div class="how-it-works-link"flex-gt-sm="33" flex-sm="50" flex-xs="100">
    <a href="someLink">
      <img src="\assets\img\how-it-works\varietyOfCases.png">
      <div class="orange-bubble small"></diV>
      <h5 class="title">
        מגוון מקרים
      </h5>
      <h6 class="subtitle">
        בקשות עזרה מכל הארץ ובכל תחום מחכות להתערבות שלך
      </h6>
    </a>
  </div>
</div>
